<%=  (t 'defaults.title')%>
<div class="section" id="message-modal">
  <article class="message">
    <div class="message-header">
      <p>ようこそ</p>
      <button class="delete" aria-label="delete" id="close"></button>
    </div>
    <div class="message-body">
    ここにメッセージを書くよ〜！
    </div>
  </article>
</div>
<div id="app"></div>
<%= javascript_pack_tag 'hello_vue.js' %>
